---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import { getBlogPosts } from "../utils/notion";

export const prerender = true;

const mdPosts = await Astro.glob("../pages/posts/*.md");
const nonDraftPosts = mdPosts.filter((post) => !post.frontmatter.draft);
---

<Layout title="Home Page">
  <main>
    <section>
      <div class="w-full lg:w-3/6">
        <h1 class="font-extrabold text-6xl tracking-tight leading-[3rem]">
          Full Stack Developer
        </h1>
        <p class="mt-5 text-xl font-normal">
          I develop full stack applications with React, Vue and TypeScript. You
          can view my projects <a href="https://github.com/RSAMUEL12">here.</a>
        </p>
      </div>
    </section>
    <section>
      {
        mdPosts.map((post) => (
          <li>
            <div class="flex flex-col lg:flex-row ">
              <div class="flex flex-col justify-center pr-5">
                <h1 class="font-extrabold text-4xl tracking-tight pt-0">
                  {post.frontmatter.title}
                </h1>
                <p class="text-subheading">
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-GB",
                    {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    }
                  )}
                </p>
                <p class="text-subheading">{post.frontmatter.description}</p>
              </div>
              <a href={post.url}>
                <Image
                  src={post.frontmatter.image.url}
                  format="png"
                  alt="blog"
                  width={400}
                  height={400}
                  aspectRatio={1 / 1}
                  class="transition duration-500 hover:scale-110 cursor-pointer rounded-lg"
                />
              </a>
            </div>
          </li>
        ))
      }
    </section>
  </main>
</Layout>
