---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import { getBlogPosts } from "../utils/notion";

export const prerender = true;

// get blog posts
const posts = await getBlogPosts();
---

<Layout title="Home Page">
  <main>
    <div class="flex flex-row justify-between p-5">
      <div class="flex flex-col w-[147px] h-[73px] items-center justify-center">
        <h4 class="font-extrabold text-3xl tracking-widest leading-7">Rohan</h4>
        <h4 class="font-extrabold text-3xl tracking-normal leading-7">
          Samuel
        </h4>
      </div>
      <nav class="flex flex-row items-center space-x-10">
        <a>Projects</a>
        <a>Tech</a>
        <a>Blog</a>
      </nav>
    </div>
    <section class="w-screen px-20 sm:px-40 md:px-56 mb-20">
      <div class="w-3/6">
        <h1 class="font-extrabold text-6xl tracking-tight leading-[3rem]">
          Full Stack Developer
        </h1>
        <p class="mt-5 text-xl font-normal">
          I develop full stack applications with React, Vue and TypeScript. You
          can view my projects <strong>here.</strong>
        </p>
      </div>
    </section>
    <section class="w-screen px-20 sm:px-40 md:px-56">
      {
        posts.results.map((post) => {
          return (
            <div class="flex flex-col lg:flex-row ">
              <div class="flex flex-col justify-center">
                <h1 class="font-extrabold text-4xl tracking-tight">
                  {post.properties.Name.title[0].plain_text}
                </h1>
                <h1>{post.properties.Description.rich_text[0].plain_text}</h1>
              </div>
              <div class="w-fit h-fit m-5 flex items-center justify-center">
                <Image
                  src={post.cover.file.url}
                  format="jpg"
                  alt="blog"
                  width={450}
                  height={450}
                  aspectRatio={1 / 1}
                  class="transition duration-500 hover:scale-110 cursor-pointer"
                />
              </div>
            </div>
          );
        })
      }
    </section>
  </main>
</Layout>
